<div class="row">
    <div class="col-md-5" style="background-color: pink;">
        <h2>recipe list</h2>
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7" style="background-color: yellow;"> 
        <h1>recipe deteails goes here</h1>
        <app-recipe-detail *ngIf="selectedRecipe; else infoText" [selectedRecipeDetails] ="selectedRecipe" ></app-recipe-detail>
        <ng-template #infoText>
            <h3>Please select a recipe!</h3>
        </ng-template>
        
    </div>
</div>